# macOS metadata files
.DS_Store
.claude/settings.local.json
omniview.bolt
.vscode/launch.json
omniview.exe
.letta
.kilocode
.kilo
skills-lock.json
omniview.syso
omniview
_bmad
_bmad-output
.github
.cursor
.agents
.github/skills
.agents/skills